<a href="https://colab.research.google.com/github/MohdAmir01/Machine-Learning-Hands-On-Practice/blob/master/Iris_Dataset%20(Logistic%20Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
#### Predict the class of the flower based on available attributes`
```

In [25]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [43]:
#Uploading dataset
df = pd.read_csv("https://raw.githubusercontent.com/MohdAmir01/Datasets/master/Iris_dataset.csv")
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [44]:
#Detailed Analysis of numerical variables
df.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.054000      3.758667     1.198667
std     43.445368      0.828066     0.433594      1.764420     0.763161
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [27]:
#Check data types of all variables
df.dtypes

Unnamed: 0        int64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [28]:
#Check null values in all variables
df.isnull().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [29]:
#Print Column names
df.columns

Index(['Unnamed: 0', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species'],
      dtype='object')

In [30]:
#label encode the target variable
encode = LabelEncoder()
df.species = encode.fit_transform(df.species)

In [31]:
#Top 5 Rows
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  species
0           0           5.1          3.5           1.4          0.2        0
1           1           4.9          3.0           1.4          0.2        0
2           2           4.7          3.2           1.3          0.2        0
3           3           4.6          3.1           1.5          0.2        0
4           4           5.0          3.6           1.4          0.2        0

In [32]:
# train-test-split   
train, test = train_test_split(df,test_size=0.2, random_state = 0)

In [33]:
#Shape of Train and Test data
train.shape, test.shape

((120, 6), (30, 6))

In [34]:
# separate the target and independent variable
train_x = train.drop(columns = ['species'], axis = 1)
train_y = train['species']

In [35]:
test_x = test.drop(columns = ['species'], axis=1)
test_y = test['species']

In [36]:
# create the object of the model
Log_reg = LogisticRegression()
Log_reg.fit(train_x, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
prediction = Log_reg.predict(test_x)
prediction

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [39]:
print('Predicted Values on Test Data', encode.inverse_transform(prediction))

Predicted Values on Test Data ['virginica' 'versicolor' 'setosa' 'virginica' 'setosa' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'setosa' 'setosa' 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'versicolor' 'versicolor' 'setosa']

In [42]:
print('\n\nAccuracy Score on test data : \n\n')
print(accuracy_score(test_y,prediction))

Accuracy Score on test data :


1.0